.mainc {
    display: flex;
    flex-direction: row;
}

.logindiv {
    width: 1440px;
    height: 100vh;
    overflow: hidden;
}

.otherdiv {
    width: 602px;
    height: 100vh;
    width: 40%;
    background: linear-gradient(180deg, #340D6C 0%, #6521BB 0%, #490B7B 71.87%);
    fill: #6023A0;
    mix-blend-mode: lighten;
    overflow: hidden;
}


.othersvginside {
    fill: #6023A0;
    mix-blend-mode: lighten;
}

.LoginRegi {
    position: absolute;
    top: 30%;
    left: 13%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centereddiv {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centereddiv h2 {
    color: #000;
    font-family: Figtree;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* This is for Input Of Containers */


/* This is end  of Containers */