@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'kanit', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: black;
    padding: 1.5rem 2rem;
    box-shadow: none;
    font-weight: bold;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo-text {
    margin-left: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    /* Increased gap */
}

.nav-links li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0.5rem 0.75rem;
}

.nav-links li a:hover {
    color: gray;
}


/* These are finish of toggleswitch  */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 0.5rem;
    }

    .logo {
        margin-bottom: 1.5rem;
    }

    .nav-links {
        margin-top: 1rem;
        gap: 0.5rem;
    }

    .connect-button {
        margin-top: 1.5rem;
    }
}